{% if total_paginas > 1 %}
<nav class="navegacao-paginas" aria-label="Navegação das páginas de artigos">
    <ul class="paginacao">
        {% if pagina_atual > 1 %}
            <li class="item-pagina">
                <a class="link-pagina" href="{{ url_for(request.endpoint, page=pagina_atual - 1, **request.view_args) }}">&laquo; Anterior</a>
            </li>
        {% else %}
            <li class="item-pagina desabilitado">
                <span>&laquo; Anterior</span>
            </li>
        {% endif %}

        <li class="item-pagina ativo">
            <span>Página {{ pagina_atual }} de {{ total_paginas }}</span>
        </li>

        {% if pagina_atual < total_paginas %}
            <li class="item-pagina">
                <a class="link-pagina" href="{{ url_for(request.endpoint, page=pagina_atual + 1, **request.view_args) }}">Próxima &raquo;</a>
            </li>
        {% else %}
            <li class="item-pagina desabilitado">
                <span>Próxima &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}